* {
  box-sizing: border-box;
  color: #2c4755;
}
:root {
  --min-color: #10cab7;
  --min-background-color: #fafafa;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "work sans", sans-serif;
}
.parent {
  background-color: var(--min-background-color);
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
::selection {
  background-color: var(--min-color);
  color: white;
}
.special-heading {
  font-size: 120px;
  font-weight: 800;
  letter-spacing: -2px;
  margin: 0;
  text-align: center;
  z-index: -1;
  color: #e2e0e082;
  padding-top: 30px;
}
.special-heading + p {
  margin: -35px 0 30px;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
}
/* mobail */
@media (max-width: 785px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
    font-size: 12px;
  }
  .hidden-div {
    display: none;
  }
}
/* small */
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  width: 60px;
}
.header .links {
  position: relative;
  cursor: pointer;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  height: 2px;
  margin-bottom: 5px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links ul {
  background-color: #f5f5f5;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  min-width: 200px;
  border-radius: 5px;
  z-index: 1;
}
.header .links.display ul {  
  display: none;
}
.header .links.play ul{
  display: block;
}
.header .links ul::before {
  content: "";
  position: absolute;
  border: solid 10px;
  border-color: transparent transparent #f5f5f5 transparent;
  right: 5px;
  top: -19px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  color: #333;
  text-decoration: none;
  display: block;
  font-weight: 600;
  font-size: large;
  padding: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links ul li:not(:last-child) a {
  border-bottom: solid #e9e9e9;
}
.header .links ul li a:hover {
  padding-left: 20px;
  color: var(--min-color);
}
/* end header */

/* start landing */
.landing {
  background-image: url(../imeg/metpmi8m.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  width: 340px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}
.landing .intro-text h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  color: var(--min-color);
}
.landing .intro-text p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5rem;
  color: #494949;
  margin: 5px;
  letter-spacing: -0.6px;
}
@media (min-width: 1200px) {
  .landing .intro-text {
    width: 520px;
    max-width: 100%;
  }
  .landing .intro-text h1 {
    font-size: 80px;
    font-weight: bolder;
  }
}
/* end landing */
/* start features */
.features {
  background-color: var(--min-background-color);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .container .feat {
  padding: 60px 0px;
  text-align: center;
}
.features .container .feat:hover {
  background-color: white;
  box-shadow: 0px 0px 20px 0px #0000005e;
}
.features .container .feat i {
  color: var(--min-color);
  font-size: 50px;
  display: flex;
  justify-content: center;
}
.features .container .feat h3 {
  font-weight: 800;
}
/* end features */
/* start searvices */
.searvice-content {
  padding: 40px 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.searvices-two {
  margin-top: 40px;
}
.searvice-content .col {
  row-gap: 20px;
}
.searvice-content .col .sss {
  display: flex;
  margin-bottom: 40px;
}
.searvice-content .col i {
  color: var(--min-color);
  flex-basis: 60px;
  font-size: 30px;
}
.searvice-content .col .text {
  flex: 1;
}
.searvice-content .col .text h3 {
  margin-top: 0;
}
.searvice-content .col .sea-photo {
  position: relative;
  width: 280px;
  height: 320px;
}
.searvice-content .col .sea-photo::before {
  content: "";
  position: absolute;
  background-color: #2c4755;
  width: 35%;
  height: 380px;
  top: -30px;
  right: -20%;
}
.searvice-content .col .sea-photo img {
  width: 280px;
  height: 320px;
  z-index: 1;
  position: absolute;
  box-shadow: 0px 0px 20px 1px #0000005e;
}
@media (max-width: 785px) {
  .searvice-content .col .sss {
    flex-direction: column;
    text-align: center;
  }
}
/* end searvices */
/* start portfolio */
.portfolio {
  background-color: var(--min-background-color);
}
.proto-col {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  position: relative;
}
.proto-one {
  padding-top: 40px;
}
.proto-col .col {
  background-color: #fff;
  max-width: 350px;
  margin: auto;
  box-shadow: 0px 4px 20px 0px #0000002e;
  transition: all 0.3s ease-in-out;
}
.proto-col .col.hidden {
  display: none;
}
.proto-col .col .img {
  overflow: hidden;
  max-width: 350px;
  max-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proto-col .col img {
  max-width: 100%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.proto-col .col img:hover {
  transform: scale(1.4) rotate(2.5deg);
  -webkit-transform: scale(1.4) rotate(2.5deg);
  -moz-transform: scale(1.4) rotate(2.5deg);
  -ms-transform: scale(1.4) rotate(2.5deg);
  -o-transform: scale(1.4) rotate(2.5deg);
}
.proto-col .col h2 {
  padding-left: 10px;
}
.proto-col .col p {
  padding-left: 10px;
}
.portfolio .div-button {
  width: 100%;
  height: 100%;
  display: flex;
}
.portfolio .div-button .button {
  font-size: 17px;
  font-weight: 800;
  margin: 20px auto;
  width: fit-content;
  text-align: center;
  padding: 10px;
  border: solid 2px #7a7a7a;
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
}
.portfolio .button:hover,
.portfolio .button:hover a {
  color: #10cab7;
  box-shadow: rgba(44, 71, 85, 1) 0 80px 0px 1px inset;
}
/* end portfolio */
/* start about */
.about {
  padding-top: 30px;
  padding-bottom: 50px;
}
.about .about-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  justify-content: space-around;
}
@media (max-width: 991px) {
  .about .about-container {
    flex-direction: column;
    text-align: center;
    margin: auto;
    justify-content: center;
    width: fit-content;
  }
}
.about-container img {
  box-shadow: 0 0 20px 0 #bfbdbde0;
  max-width: 100%;
}
.about-container .about-img {
  margin: 30px 0 40px 50px;
  position: relative;
  width: 250px;
  height: 275px;
  z-index: 1;
}
.about-container .about-img::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  display: flex;
  right: 85%;
  top: -40px;
  z-index: -1;
}
.about-container .about-img::after {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 55px;
  height: 170px;
  border-left: var(--min-color) solid 83px;
  border-bottom: var(--min-color) solid 78px;
  display: flex;
  right: -37%;
  top: -7%;
  z-index: -1;
}
@media (max-width: 440px) {
  .about-container .about-img::before,
  .about-container .about-img::after {
    display: none;
  }
}
.about-container .about-text {
  max-width: 370px;
}
.about-container hr {
  width: 125px;
  border-color: var(--min-color);
  display: inline-block;
}
/* end about */
/* start contact */
.contact {
  background-color: var(--min-background-color);
  padding-bottom: 20px;
}
.contact .contact-one {
  padding-left: 20px;
  font-weight: 800;
  font-size: 35px;
}
.contact .contact-two {
  color: var(--min-color);
  padding-left: 30px;
  font-weight: 500;
  font-size: 30px;
  display: block;
  text-decoration: none;
  margin-bottom: 13px;

}
.contact .contact-three {
  margin: 0;
  padding-left: 20px;
  margin-right: 5px;
  float: left;
}
.contact i {
  padding-left: 10px;
}
@media (max-width: 4575px) {
  .contact .contact-one {
    font-size: 25px;
  }
  .contact .contact-two {
    font-size: 20px;
  }
}
/* end contact */
/* start footer */
footer {
  padding: 20px;
  width: 1fr;
  background-color: #2c4755;
}
footer .footer {
  color: white;
  text-align: center;
  margin-bottom: 5px;
  font-size: 11px;
    font-weight: 700;
}
footer .footer samp {
  color: var(--min-color);
}

/* end footer */